* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: floralwhite;
  margin: 15px;
  padding: 5px;
  color: black;
}

header {
  text-align: center;
  padding: 25px;
  font-size: 35px;
  font-weight: bold;
  border: 2px solid navy;
  border-width: 5px;
  margin: 15px;
}

h2 {
  background-color: rgb(157, 216, 255);
  text-align: center;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid navy;
  border-width: 3px;
}

h3 {
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid navy;
  border-width: 3px;
}

section {
  padding: 5px;
  font-size: 15px;
  text-align: center;
  display: inline-block;
}

div {
  padding: 5px;
  font-size: 15px;
}

.about {
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

p {
  padding: 5px;
  font-size: 15px;
  text-align: left;
  border: 2px solid navy;
}

ul {
  padding: 5px;
  font-size: 15px;
  border: 2px solid navy;
  list-style: disc;
  text-align: left;
}

ol {
  padding: 5px;
  font-size: 15px;
  list-style: number;
  border: 2px solid navy;
  text-align: left;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 5px;
  border: 2px solid navy;
  border-width: 5px;
}

footer {
  text-align: center;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  border: 1px dotted navy;
  margin: 15px;
}